<section class="blog_area">
    <div class="container">
        <div class="row mb-5">
            <div>
                <h1>{{ playground.address }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{{ playground.mainPhotoUrl }}" alt="" />
                        </div>
                        <div class="blog_details">
                            <a class="d-inline-block" href="single-blog.html">
                                <h2>Google inks pact for new 35-storey office</h2>
                            </a>
                            <p>
                                That dominion stars lights dominion divide years for fourth have
                                don't stars is that he earth it first without heaven in place
                                seed it second morning saying.
                            </p>
                            <ul class="blog-info-link">
                                <li>
                                    <a href="#"><i class="far fa-user"></i> Travel, Lifestyle</a>
                                </li>
                                <li>
                                    <a href="#"><i class="far fa-comments"></i> 03 Comments</a>
                                </li>
                            </ul>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget" *ngIf="isLoggedIn">
                        <form *ngIf="!isCheckedIn" [formGroup]="checkInForm" (ngSubmit)="checkInMemberToPlayground()"
                            class="justify-content-center">
                            <div class="form-group row">
                                <div class="input-group col-sm-7 pr-1">
                                    <input 
                                        type="text" 
                                        formControlName="checkInDate" 
                                        bsDatepicker 
                                        #dp="bsDatepicker"
                                        [bsConfig]="bsConfig"
                                        class="form-control" placeholder="When are you going?"
                                        onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'When are you going?'" />
                                    <div class="input-group-append icon-right">
                                        <button class="btn" type="button" (click)="dp.toggle()">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="input-group col-sm-5 pl-1">
                                    <timepicker 
                                        class="timepicker-custom-style" 
                                        formControlName="checkInTime" 
                                        [showSpinners]=false 
                                        [showMeridian]=false 
                                        [minuteStep]="15">
                                    </timepicker>
                                    <div class="input-group-append icon-right">
                                        <button class="btn" type="button">
                                            <i class="fa fa-clock-o"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <button class="btn button rounded-0 primary-bg text-white w-100" type="submit"
                                [disabled]="!checkInForm.valid">
                                I am going
                            </button>
                        </form>
                        <div class="row" *ngIf="isCheckedIn">
                            <div class="col-sm-8"><strong>You are going: {{checkInModel.checkInDate | date: 'short'}}</strong></div>
                            <div class="col-sm-4"><button class="btn btn-secondary btn-sm" (click)="isCheckedIn = false">Cancel</button></div>
                        </div>
                    </aside>
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">People playing here</h3>
                        <div *ngFor="let memberCheckedIn of checkInsAtPlayground" class="media post_item">
                            <img class="profile-img rounded-circle" src="../../assets/user.png" alt="">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>{{memberCheckedIn.memberLoginName}}</h3>
                                </a>
                                <p>{{memberCheckedIn.checkInDate | date:'short'}}</p>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>