<section class="blog_area breadcrumb_bg">
  <div class="container">
    <div class="row">
      <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="ui-block">
          <div class="top-header">
            <div class="top-header-thumb">
                <img src="{{playground.mainPhotoUrl}}" class="d-block w-100">
            </div>
            <div class="top-header-author pl-3 pr-3">
              <h1>{{ playground.address }}</h1>
              <p>{{ playground.locationStr }}</p>
            </div>
            <div class="profile-section">
              <div class="row">
                <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
                  <ul class="profile-menu">
                    <li>
                      <a [routerLink]="'timeline'" routerLinkActive="active">Timeline</a>
                    </li>
                    <li>
                      <a [routerLink]="'timeline'">About</a>
                    </li>
                    <li>
                      <a [routerLink]="'timeline'">Hoopers</a>
                    </li>
                    <li>
                      <a [routerLink]="'photos'" routerLinkActive="active">Photos</a>
                    </li>
                    <li>
                      <a [routerLink]="'photos'">Videos</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <router-outlet></router-outlet>      
  </div>
</section>
