<section class="banner_part">
  <div class="container">
    <div class="row align-content-center">
      <div class="col-lg-7 col-xl-5">
        <div class="banner_text">
          <h1><span>Playgrounds</span><br>
            around the World</h1>
          <p>Basketball is everywhere you go.
            <br /> Share Playground photos from around the world.</p>
          <div *ngIf="isLoggedIn == false">
            <p>
              <button class="genric-btn primary mr-5" type="submit" [routerLink]="['/register']">Register</button>
              <button class="genric-btn info radius" type="submit" [routerLink]="['/login']">Log in</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-locations></app-locations>
<app-gallery></app-gallery>
