/**************** blog part css start ****************/
@import 'abstracts/mixins', 'abstracts/variables', 'components/elements';

.blog_part{
    position: relative;
    z-index: 1;
    &:after{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 46%;
        content: "";
        background-color: $section_bg;
        z-index: -1;
        @media #{$small_mobile}{

        }
        @media #{$large_mobile}{
            height: 35%;
        }
        @media #{$tab_device}{
            height: 35%;
        }
        @media #{$medium_device}{
        
        }
    }
    .blog_right_sidebar .widget_title {
        font-size: 20px;
        margin-bottom: 40px;
        font-style: inherit !important; 
    }
    .single-home-playground:hover .single-home-playground-background-image,
    .single-home-playground :focus .single-home-playground-background-image {
        transform: scale(1.2);
        text-decoration: underline;
    }

    .single-home-playground {
        height: 380px;
        overflow: hidden;
    }
    .single-home-playground-background-image::before {
        content: "";
        background: rgba(0,0,0,.3); 
        height: 100%; 
        width: 100%; 
        position: absolute;
        z-index: 2;
        left: 0;
    }
    .single-home-playground-text {
        position: absolute; 
        bottom: 10%; 
        left: 10%; 
        z-index: 2;
        h2, a, span {
            color: white;
        }
        span {
            font-size: medium;
        }
    }
    .single-home-playground-background-image {
        background-size: cover; 
        background-position:center center; 
        position: relative;
        height: 100%;
        width: 100%;
        transition: all .5s;
        @media #{$small_mobile}{
            margin-bottom: 20px;
        }
        @media #{$large_mobile}{
           margin-bottom: 20px;
        }
        @media #{$tab_device}{
            margin-bottom: 20px;
        }
        @media #{$medium_device}{
        
        }
        .card-img-top{
            border-radius: 0px;
        }
        .card{
            span{
                color: $font_4;
                margin-bottom: 10px;
                display: inline-block;
                margin-top: 10px;
                @media #{$small_mobile}{
                    margin-bottom: 5px;
                    margin-top: 5px;
                }
                @media #{$large_mobile}{
                    margin-bottom: 5px;
                    margin-top: 5px;
                }
                @media #{$tab_device}{
                    margin-bottom: 5px;
                    margin-top: 5px;
                }
                @media #{$medium_device}{
                    margin-bottom: 5px;
                    margin-top: 5px;
                }
            }
            h5{
                color: white;
                font-weight: 700;
                line-height: 1.5;
                font-size: 20px;
                margin-bottom: 25px;
                @include transform_time(0.8s);
                @media #{$small_mobile}{
                    margin-bottom: 10px;
                }
                @media #{$large_mobile}{
                    margin-bottom: 10px;
                    font-size: 16px;
                }
                @media #{$tab_device}{
                    margin-bottom: 10px;
                }
                @media #{$medium_device}{
                    margin-bottom: 10px;
                    font-size: 18px;
                }
                &:hover{
                    color: $btn_bg;
                }
            }
        }
    }
}
