<div class="container">
  <div class="row mt-5">
    <div class="col-sm-8 offset-sm-2 text-center">
      <img src={{memberPhoto.url}} />
      <form [formGroup]="updatePhotoForm" (ngSubmit)="updatePhoto()" class="justify-content-center">
        <div class="form-group mt-3">
          <textarea formControlName="description" class="form-control">{{memberPhoto.description}}</textarea>
        </div>
        <div class="invalid-feedback d-block mt-3 mb-3">{{errorWhileUpdatingPhoto}}</div>
        <div class="form-group text-center">
          <button class="btn btn-success btn-sm mr-2" type="submit">Save</button>
          <button class="btn btn-secondary btn-sm ml-2" [routerLink]="['/member/photos-manager/']">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
