<form [formGroup]="addPhotoForm"
  (ngSubmit)="AddPhotoToPlayground()"
  class="justify-content-center">
  <div class="modal fade show" id="update-header-photo" tabindex="-1" role="dialog" aria-labelledby="update-header-photo" style="display: block; padding-right: 17px;" aria-modal="true">
    <div class="modal-dialog window-popup update-header-photo" role="document">
      <div class="modal-content">
        <a (click)="close()" class="close icon-close" data-dismiss="modal" aria-label="Close">
            <i class="fa fa-close"></i>
        </a>
        <div class="modal-header">
          <h6 class="title">New Photo</h6>
        </div>
        <div class="modal-body">
          <a href="#" class="upload-photo-item">
            <h6>Upload Photo</h6>
            <span>Browse your computer.</span>
            <input type="file" id="upload-photo" ng2FileSelect [uploader]="photoUploader" />
          </a>
          <a href="#" class="upload-photo-item" data-toggle="modal" data-target="#choose-from-my-photo">
            <h6>Choose from My Photos</h6>
            <span>Choose from your uploaded photos</span>
          </a>
        </div>
        <div>
          <button class="btn btn-primary btn-sm" type="submit">Confim</button>
        </div>
      </div>
    </div>
  </div>
</form>
