<div class="post-additional-info inline-items">
  <a (click)="showCheckinsDetails = !showCheckinsDetails" style="--calculatedHeight: 150px" [ngClass]="{'vertical-display': showCheckinsDetails}">
    <ul class="friends-harmonic" *ngIf="moreThanFourCheckIns; else lessThanFourCheckIns">
      <li *ngFor="let checkIn of fourMostRecentCheckIns">
          <img src="{{ checkIn.memberProfilePictureUrl }}" alt="friend">
      </li>
    </ul>
    <ng-template #lessThanFourCheckIns>
      <ul class="friends-harmonic">
        <li *ngFor="let checkIn of playgroundCheckIns">
            <img src="{{ checkIn.memberProfilePictureUrl }}" alt="friend">
        </li>
      </ul>
    </ng-template>
  </a>
  
  <div class="names-people-likes ml-3">
    <a href="#">Jenny</a>, <a href="#">Robert</a> and
    <br>{{numberOfCheckIns}} are playing today
  </div>
  <div class="comments-shared">
    <!-- <a href="#" class="post-add-icon inline-items">
      <span>1</span>
    </a>
    <a href="#" class="post-add-icon inline-items">
      <span>16</span>
    </a> -->
  </div>
</div>