<div class="post-additional-info post-additional-info-more inline-items float-left text-center w-100">
<div class="text-center mt-2 p-2 d-block"><h3>Today!</h3></div>
  <ul class="friends-harmonic float-left w-100">
    <li *ngFor="let checkIn of playgroundCheckIns; index as i" class="p-3 mb-1">
      <a (click)="showCheckinsDetails = !showCheckinsDetails">
        <div class="checkin-picture"><img src="{{ checkIn.memberProfilePictureUrl }}" alt="{{checkIn.memberLoginName}}"></div>
        <div class="checkin-detail names-people-likes ml-2 mt-2"><strong>{{checkIn.memberLoginName}}</strong> is going: {{checkIn.checkInDate | date: 'short'}}</div>
      </a>
    </li>
  </ul>
<div class="comments-shared"></div>
</div>