// @import '../upcoming-checkins.component.scss';
@import '../../../timeline/timeline.component.scss';

.participants {
    display: inline-block;
    padding-top: 20px;
    margin-left: 20px;
    margin-top: 30px;
    width: 80%;
}

.more-participants {
    line-height: normal;
    font-size: 12px;
    font-weight: 550;
}
.share-submit { 
    border-top: 1px solid #e6ecf5;
}

.single-participant {
    margin-bottom: 20px;
    display: inline-block;
    width: 100px;

    img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        overflow: hidden;
        // margin-right: 12px;
    }
}
.single-slot-start {
    &:before {
        content: '';
        width: 2px;
        background: #f2a23f;
        height: 100%;
        position: absolute;
        top: 50px;
        left: 29px;
        z-index: 0;
    }
}
.single-slot {
    position: relative;
    .schedule-box {
        display: inline-block;
        vertical-align: top;
        .inner-box {
            background-image: url('../../../../../assets/timeslot.png');
            background-size: cover;
            background-position: center;
            border: 5px solid #fff;
            border-radius: 50%;
            font-size: 11px;
            font-weight: 800;
            line-height: 40px;
            margin-left: 5px;
            position: relative;
            text-align: center;
            height: 50px;
            width: 50px;
            z-index: 10;
        }
    }
}
