<div [ngClass]="showTimeslotDetails ? 'open' : 'closed'" class="single-slot" 
     [ngStyle]="{'transform': 'translateY(' + pixelsToTranslate +')'}">
  <div class="participants text-center">
    <ul class="timeslot-participants">
      <li class="single-participant" *ngFor="let participant of participants">
        <span><img src="{{participant.memberProfilePictureUrl}}" alt="{{participant.memberLoginName}}"></span>
        <div class="participant-info-box">
          <div class="box-content">
            <span class="box-triangle"></span>
            <img src="{{participant.memberProfilePictureUrl}}">
            <span>{{participant.memberLoginName}}</span><br>
            <span>{{participant.checkInDate | date: 'h:mm a'}}</span>
          </div>
        </div>
      </li>
      <li *ngIf="moreHoopersPlaying" class="extra-for-participants text">
        <div class="mb-2">
          <p class="extra-p">{{moreHoopersPlaying}}</p>
        </div>
      </li>
    </ul>
  </div>
  <div *ngIf="isLoggedIn" class="extra-for-participants member">
    <div *ngIf="loggedInMemberIsAmongParticipants;else checkinbutton">
      <p class="mb-2 extra-p">You are playing.</p>
      <a class="join-button" (click)="cancelCheckinMember()">Cancel <i class="fa fa-sign-out"></i></a>
    </div>
    <ng-template #checkinbutton>
      <a class="join-button" (click)="checkinMemberToPlayground()">Join <i class="fa fa-sign-in"></i></a>
    </ng-template>
  </div>
</div>