<div class="row" style="min-height: 500px;">
  <div class="col col-xl-3 order-xl-1 col-lg-12 order-lg-1 col-md-3 col-sm-12 col-12"></div>
  <div class="col col-xl-6 order-xl-2 col-lg-12 order-lg-2 col-md-6 col-sm-12 col-12">
    <div class="w-100 float-left " style="margin: auto">
      <ngx-spinner
        name="checkins-spinner"
        [fullScreen]="false"
        type="html"
        size="large"
        bdColor="rgba(0,0,0,0)">
        <img class="loading-ball w-100" src="../../../assets/loading-gif-orange-4.gif" />
      </ngx-spinner>
    </div>
    <div *ngIf="showTopMessage" class="open-checkin-paragraph w-100 mb-3 mt-3 pb-2">
      <p>Checkin <a (click)="openCheckinForm()">here</a>.</p>
    </div>
    <app-checkin-form
      *ngIf="showCheckinForm"
      (disposed)="disposeCheckinForm()"
      [userName]="userName"
      [userPhotoUrl]="userPhotoUrl"
      [playgroundId]="playgroundId">
    </app-checkin-form>
    <app-upcoming-checkins
      *ngIf="todaysCheckinsTimeSlots?.length"
      [isLoggedIn]="isLoggedIn"
      [userName]="userName"
      [userPhotoUrl]="userPhotoUrl"
      [playgroundId]="playgroundId"
      [todaysCheckinsTimeSlots]="todaysCheckinsTimeSlots">
    </app-upcoming-checkins>
    <div *ngIf="showBottomMessage" class="open-checkin-paragraph w-100 mb-3 mt-3 pb-2">
      <p>No future timeslot is suitable for you? Checkin <a (click)="openCheckinForm()">here</a>.</p>
    </div>
  </div>
</div>
