@import '../../../styles/abstracts/variables';

.open-checkin-paragraph {
    p {
        color: black;
        font-size: 1.2rem;
        line-height: 1;
        a {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}