img {
    vertical-align: unset;
    max-width: 100%;
    height: auto;
    display: inline-block;
}

.loading-ball {
    width: 50%;
}

.ui-block {
    border-radius: 5px;
    border: 1px solid #e6ecf5;
}

.post-additional-info {
    .post-add-icon {
        fill: #c2c5d9;
        color: #c2c5d9;
    }
    a {
        cursor: pointer;
    }
    a.horizental .friends-harmonic {
        li {
            width: auto;
            transition: 0.7s ease-in-out;
            .checkin-picture {
                margin-left: -12px;
            }
            .checkin-detail {
                display: none;
            }
        }
    }
}

.inline-items > * {
    display: inline-block;
    vertical-align: middle;
}
  