<div class="schedule mb-5 mt-3 pb-2">
  <div class="schedule-title text-left">
    <p class="text-uppercase">TODAY</p>
  </div>
  <div class="tabs mt-3">
    <app-timeslot-tab *ngFor="let singleCheckinTimeslot of todaysCheckinsTimeSlots; let i = index"
      [tabIndex]="i+1"
      [startsAt]="singleCheckinTimeslot.startsAt">
    </app-timeslot-tab>
  </div>
  <div class="content">
    <app-single-timeslot *ngFor="let singleCheckinTimeslot of todaysCheckinsTimeSlots"
      [participants]="singleCheckinTimeslot.checkins"
      [startsAt]="singleCheckinTimeslot.startsAt"
      [playgroundId]="playgroundId"
      [isLoggedIn]="isLoggedIn"
      [userName]="userName"
      [userPhotoUrl]="userPhotoUrl">
    </app-single-timeslot>
  </div>
</div>
