@import '../../timeline/timeline.component.scss';
@import '../../../../styles/abstracts/variables';

.schedule {
    float: left;
    width: 100%;
    .schedule-title {
        border-bottom: 2px solid;
        margin-bottom: 1.5rem;
        margin-top: 3.5rem;
        p {
            color: black;
            font-family: $font_Caladea;
            font-size: 2rem;
            line-height: 1;
        }
    }
    .tabs {
        float: left;
        width: 20%;
    }
    .content {
        background-color: #ffc107;
        border-radius: 5px;
        border: 1px solid #fff;
        float: left;
        height: 400px;
        overflow: hidden;
        width: 75%;
    }
}

