@import 'abstracts/variables';

.timeslot-content {
    background-position: center;
    background-size: cover;
    height: 100%;
    &:after {
        content: '';
        position: absolute;
        background: rgba(0, 0, 0, 0.3);
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }
    .timeslot-address {
        font-family: $font_Caladea;
        position: absolute;
        top: 15%;
        width: 100%;
        z-index: 2;
        h4 {
            color: #fff;
        }
    }
    .timeslots-nav {
        display: inline-flex;
        position: absolute;
        top: 40%;
        left:5%;
        z-index: 2;
        .timeslots-prev, .timeslots-next{
            cursor: pointer;
            color: #fff;
            font-size: 50px;
        }

        .playground-timeslots-container {
            cursor: pointer;
            display: inline-block;
            overflow: hidden;
            position: relative;
            height: 180px;
            width: 220px;
            .playground-timeslots-slider {
                position: absolute;
                width: 900px;
                transition: all  0.5s ease-out;
                .playground-timeslots {
                    width: 220px;
                    // cursor: pointer;
                    .timeslot-time {
                        h3 {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}