@import 'abstracts/mixins';
@import 'abstracts/variables';

.main_menu {
	height: 53px;
	.menu-content {
		background-color: #e68610;
		box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.3);
		position: fixed;
		width: 100%;
		z-index: 1000;
	}
	.profile-img {
		max-height: 40px;
		display: inline;
		border: solid 2px white;
	}
	.connection-icons {
		@media #{$small_mobile}{
			float: none !important;
			text-align: center;
		}
		@media #{$large_mobile}{
			float: none !important;
			text-align: center;
		}
		@media #{$tab_device}{
		
		}
		@media #{$medium_device}{
		
		}
		a {
			font-size: 16px;
			color: #fff;
			margin-left: 40px;
			display: inline-block;
			@media #{$small_mobile}{
				margin-left: 5px;
				margin-right: 5px;
				margin-top: 20px;
				text-align: left !important;
			}
			@media #{$large_mobile}{
				margin-left: 10px;
				margin-right: 10px;
				margin-top: 20px;
				text-align: left !important;
			}
			@media #{$tab_device}{
			
			}
			@media #{$medium_device}{
			
			}
			i{
				margin-right: 12px;
				color: $btn_bg;
			}
		}
		.register {
			border: 1px solid #e5e9ed;
			padding: 5px 26px 5px 26px;
			border-radius: 50px;
			&:hover {
				background-color: $btn_bg;
				color: $white-color;
			}
		}
	}
	.navbar{
		margin: auto;
		width: 60%;
	}
	.nav-item {
		padding: 5px 10px 5px 10px;
		// background-color: $btn_bg;
		&.active {
			position: relative;
			margin-bottom: -.5rem;
			&:after {
				content: "";
				position: absolute;
				border-bottom: 2.5px solid white;
				bottom: 0;
				left: 0;
				width: 100%;
			}
		}
	}
	ul {
		li{
			display: inline-block;
			font-size: 14px;
			text-transform: uppercase;
		}
	}

	.header_social_icon {
		.profile {
			cursor: pointer;
			.profile-name {
				color: white;
				font-size: 16px;
			}
		}

		.profile-dropdown {
			position: absolute;
			min-width: 170px;
			top: 60px;
			right: 0;
			z-index: 100;
			.dropdown-content {
				position: relative;
				background-color: #fff;
				box-shadow: 0 0 24px rgba(0,0,0,.2);
				color: #333;
				border-radius: 3px;
				text-align: left;
				padding: 4px 0;
				margin: 8px 0;
				.dropdown-triangle-top {
					position: absolute;
					top: -16px;
					right: 90px;
					&:before {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						height: 0;
						width: 0;
						border: 9px solid transparent;
						border-bottom-color: #e6e6e6;
						margin-left: -1px;
						margin-top: -2px;
					}
					&::after {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						height: 0;
						width: 0;
						border: 8px solid transparent;
						border-bottom-color: #fff;
					}
				}
				
				a {
					max-width: 100%;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					position: relative;
					padding: 12px 20px;
					font-size: .82rem;
					cursor: pointer;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					&:hover {
						background-color: #f6f6f6;
					}
				}
			}
		}
	}

	
	@media #{$small_mobile}{
		.main_menu{
			position: relative;
			z-index: 99;
		}
		.navbar-light .navbar-toggler{
			border: 0px solid transparent;
		}
		.header_social_icon{
			position: absolute;
			right: 10px;
			top: 30px;
		}
		.navbar-collapse{
			position: absolute;
			left: 0;
			top: 78px;
			z-index: 99;
			width: 100%;
			background-color: #fff;
		}
		.nav-item {
			padding: 5px 10px 5px 15px;
			background-color: $btn_bg;
			&.active {
				border-bottom: 1px solid white;
			}
		}
		.navbar-nav .nav-link:hover{
			color: $white_color !important;
		}
	}
	@media #{$large_mobile}{
		.main_menu{
			position: relative;
		}
		.navbar-light .navbar-toggler{
			border: 0px solid transparent;
		}
		.header_social_icon{
			position: absolute;
			right: 10px;
			top: 30px;
		}
		.navbar-collapse{
			position: absolute;
			left: 0;
			top: 78px;
			z-index: 99;
			width: 100%;
			background-color: #fff;
		}
		.nav-item {
			padding: 5px 10px 5px 15px;
			background-color: $btn_bg;
			&.active {
				border-bottom: 1px solid white;
			}
		}
		.navbar-nav .nav-link:hover{
			color: $white_color !important;
		}
	}
	@media #{$tab_device}{
		.main_menu{
			position: relative;
		}
		.navbar-light .navbar-toggler{
			border: 0px solid transparent;
		}
		.header_social_icon{
			position: absolute;
			right: 10px;
			top: 30px;
		}
		.navbar-collapse{
			position: absolute;
			left: 0;
			top: 78px;
			z-index: 99;
			width: 100%;
			background-color: #fff;
		}
		.nav-item {
			padding: 5px 10px 5px 15px;
			background-color: $btn_bg;
			&.active {
				border-bottom: 1px solid white;
			}
		}
		.navbar-nav .nav-link:hover{
			color: $white_color !important;
		}
	}
	.navbar-light .navbar-nav .nav-link{
		color: white;
		font-family: $font_stack_1;
	}
}