<div class="single-slot single-slot-start">
  <div class="schedule-box">
    <div class="inner-box">{{startsAtStr}}</div>
  </div>
  <!-- add overflow to hide the rest of the list -->
  <div class="ui-block participants text-center">
    <div *ngFor="let participant of participants" class="single-participant">
      <img src="{{participant.memberProfilePictureUrl}}" alt="author">
      <p class="fn">{{participant.memberLoginName}}</p>
    </div>
    <div *ngIf="isLoggedIn" class="single-participant float-right">
      <div class="mb-2">
        <p class="more-participants">{{moreHoopersPlaying}}</p>
      </div>
      <div *ngIf="loggedInMemberIsAmongParticipants;else checkinbutton">
        <p>You are playing in this timeslot.</p>
        <button class="btn btn-primary btn-sm" (click)="cancelCheckinMember()" type="submit">Cancel</button>
      </div>
      <ng-template #checkinbutton class="share-button">
        <button class="btn btn-primary btn-sm" (click)="checkinMemberToPlayground()" type="submit">Join</button>
      </ng-template>
    </div>
  </div>
</div>