<div class="row" style="min-height: 500px;">
  <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="w-100 float-left " style="margin: auto">
      <ngx-spinner name="photos-gallery-spinner" [fullScreen]="false" type="html" size="large" bdColor="rgba(0,0,0,0)">
        <img class="loading-ball w-100" src="../../../assets/loading-gif-orange-4.gif">
      </ngx-spinner>
    </div>
  </div>
  <div *ngFor="let photo of playgroundPhotos" 
    class="photo-album-item-wrap m-3 col col-xl-3 col-lg-12 col-md-12 col-sm-3 col-12">
    <div [@fadeInAnimation]="'in'" class="photo-album-item" data-mh="album-item" style="height: 458.172px;">
      <div class="photo-item">
        <img src="{{ photo.url }}" alt="photo" />
        <div class="overlay"></div>
        <a href="#" data-toggle="modal" data-target="#open-photo-popup-v1" class="  full-block"></a>
      </div>
      <div class="content">
        <a href="#" class="title h5">{{photo.description}}</a>
        <span class="sub-title">Added: {{photo.created | date: 'short'}}</span>
        <div class="swiper-container swiper-swiper-unique-id-1 initialized swiper-container-horizontal"
          data-slide="fade" id="swiper-unique-id-1">
        </div>
      </div>
    </div>
  </div>
</div>
