<div class="row" style="min-height: 500px;">
  <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="w-100 float-left " style="margin: auto">
      <ngx-spinner name="photos-gallery-spinner" [fullScreen]="false" type="html" size="large" bdColor="rgba(0,0,0,0)">
        <img class="loading-ball w-100" src="../../../assets/loading-gif-orange-4.gif">
      </ngx-spinner>
    </div>
  </div>
  <div *ngFor="let photo of playgroundPhotos" 
    class="photo-album-item-wrap col col-xl-3 col-lg-12 col-md-12 col-sm-3 col-12">
    <div [@fadeInAnimation]="'in'" class="photo-album-item" data-mh="album-item" style="height: 400px;">
      <div class="photo-item">
        <img src="{{ photo.url }}" alt="photo" />
      </div>
      <div class="sub-title p-4">
        <span class="title h5 mb-2">{{photo.description}}</span>
        <span>Added by <strong>{{photo.memberLoginName}}</strong></span><br>
        <span>on {{photo.created | date: 'MMM dd, y'}}</span>
      </div>
    </div>
  </div>
</div>
