<div *ngIf="todaysCheckinsTimeSlots" class="float-left w-100 ui-block mb-3 mt-3 pb-2">
  <div class="schedule-title p-3 mt-2 text-center">
      <p class="text-uppercase">Join pepole palying Today</p>
  </div>
  <app-single-time-slot *ngFor="let singleCheckinTimeslot of todaysCheckinsTimeSlots"
    [participants]="singleCheckinTimeslot.checkins"
    [startsAt]="singleCheckinTimeslot.startsAt"
    [playgroundId]="playgroundId"
    [isLoggedIn]="isLoggedIn"
    [userName]="userName" 
    [userPhotoUrl]="userPhotoUrl"
></app-single-time-slot>
  <div class="single-slot">
      <div class="schedule-box">
          <div class="inner-box">{{endLastTimeslot}}</div>
      </div>
  </div>
</div>